 body{
      font-family: Arial, sans-serif;
        background: radial-gradient(circle at top, #2b2e33,#0b0c0f)
      }

      h1{
        text-align: center;
        color: rgb(148,122,18);
      }
      h2{
        text-align: center;
        color: rgb(76, 167, 236);
      }
      .target-file{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin: 50px 100px;
      }
      .box h3,h4{
        text-align: left;
        margin-bottom: 10px;
      }
      
      .target-file2{
        display: flex;
        justify-content: space-between;
        margin: 50px 100px
        
      }
      .box1{
        width: 350px;
        height: 200px;
        padding: 20px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
      }
      .box1 p {
        text-align: justify;
        line-height: 1.6;
        margin: 0;
        
      }