.html,body{
        height: 100%;
        margin: 0;
      }
      body {
        font-family: Arial, sans-serif;
         background: radial-gradient(circle at top, #2b2e33,#0b0c0f);
         display: flex;
         flex-direction: column;
      }
      .main-title{
        color: rgb(148,122,18);
        background-color: rgb(17, 16, 16);
        text-align: center;
         font-weight: 800;
      }
      h3 {
        text-align: center;
        color:  rgb(255, 255, 255);
      }
    
      .section{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin: 50px 100px;
      }

      .box{
        width: 400px;
      }
      .box h3 {
        text-align: left;
        margin-bottom: 10px;
        color:rgb(68, 164, 238);
      }
      .box p{
        font-size: medium;
        text-align: justify;
        line-height: 1.6;
      }

      @media (max-width:768px) {
         .section{
          flex-direction:column;
           margin: 30px; 
        } 
      }
      p {
        text-align: center;
      }
      
     .poster{
      max-width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
     
      

     }
     .line-center{
      display: block;
      text-align: center;
     }
     .list-degree{
      font-size: medium;
      text-align: justify;
      line-height: 1.6;
    }
    .button-ch{
      font-size: 16px;
      letter-spacing: 1px;
      padding: 12px 36px;
      background-color: #4ca0e1;
      border-radius: 4px;
      border: 2px solid #2c79b7;
      color: rgb(0, 0, 0);
       cursor: pointer;
    }
    .login-button{
     padding: 40px 0;
      background-color:#3e4245;
     flex-grow: 1;
      width: 100%;
      text-align: center;
      
    }
    .login-button p {
      text-align: left;
      line-height: 1.6;
      padding: 10px;
     
    }
    